<Modal
  @isVisible={{this.isModalVisible}}
  @onClose={{this.closeModal}}
>
  <div class="modal-content-container">
    <Posts::PostInfo @postData={{this.modalPostData}} />
    <hr />
    <Posts::UserInfo @userData={{this.modalPostData.user}} />
  </div>
</Modal>

<div class="container">
  <div class="posts-container" data-test-posts-container>
    {{#each @posts as |post index|}}
      <div {{on "click" (fn this.openModal post) }} class="post" data-test-title-container={{index}}>
        {{post.title}}
      </div>
    {{/each}}
  </div>

  <Posts::Pagination
    @totalNumberOfPages={{@totalNumberOfPages}}
  />
</div>