<div class="pages-container" data-test-pages-container>
  <span class="arrow" {{on "click" (fn this.redirectToPage -1)}} data-test-arrow-left>
    {{"<"}}
  </span>

  {{#each this.visiblePagesSegments as |segments segIndex|}}
    <div class="pages-segment" data-test-pages-segments={{segIndex}}>
      
      {{#each segments as |pageNum pageIndex|}}
        <div class="page {{if (eq pageNum this.currentPage) "active-page"}}" data-test-page-num-container={{pageIndex}}>
          <LinkTo @route="index" @query={{hash page=pageNum}} class="page-link" data-test-page-num={{pageNum}}> {{pageNum}} </LinkTo>
        </div>
      {{/each}}

    </div>
  {{/each}}

  <span class="arrow" {{on "click" (fn this.redirectToPage 1)}} data-test-arrow-right>
    {{">"}}
  </span>
</div>