{{!-- If the user data is still loading, we should show the Loading
component --}}
{{#if @userData.name}}
  <div class="user-info-container">
    <Icon::Profile
      @width={{"1.5rem"}}
      @height={{"1.5rem"}}
    />
    <div class="item">
      {{@userData.name}}
    </div>

    <Icon::Email
      @width={{"1.5rem"}}
      @height={{"1.5rem"}}
    />
    <div class="item">
      {{@userData.email}}
    </div>

    <Icon::Phone
      @width={{"1.5rem"}}
      @height={{"1.5rem"}}
    />
    <div class="item">
      {{@userData.phone}}
    </div>

    <Icon::Website
      @width={{"1.5rem"}}
      @height={{"1.5rem"}}
    />
    <div class="item">
      {{@userData.website}}
    </div>

    <Icon::Address
      @width={{"1.5rem"}}
      @height={{"1.5rem"}}
    />
    <div class="item">
      {{@userData.address.street}}, {{@userData.address.suite}}
    </div>
  </div>

{{else}}
  <Loading style="width: 30px; height: 30px;" />
{{/if}}