<Modal
  @isVisible={{this.isModalVisible}}
  @onClose={{this.toggleModal}}
/>

<div class="container">
  <div class="posts-container">

    {{#each @posts as |post|}}
      <div {{on "click" this.toggleModal }} class="post">
        {{post.title}}
      </div>
    {{/each}}

  </div>

  <div class="pages-container">
    <span class="arrow" {{on "click" (fn this.redirectToPage -1)}}>
      {{"<"}}
    </span>

    {{#each this.visiblePagesSegments as |segments|}}
      <div class="pages-segment">
        {{#each segments as |pageNum|}}
          <div class="page {{if (eq pageNum this.currentPage) "active-page"}}">
            <LinkTo @route="index" @query={{hash page=pageNum}} class="page-link"> {{pageNum}} </LinkTo>
          </div>
        {{/each}}
      </div>
    {{/each}}

    <span class="arrow" {{on "click" (fn this.redirectToPage 1)}}>
      {{">"}}
    </span>
  </div>
</div>