<Modal
  @isVisible={{this.isModalVisible}}
  @onClose={{this.toggleModal}}
/>

{{#each @posts as |post|}}
  <div {{on "click" this.toggleModal }} style="background-color: rgb(201, 90, 90); margin-top: 20px">
    User id: {{post.userId}}
    Post id: {{post.id}}
    Post title: {{post.title}}
    Post body: {{post.body}}
  </div>
{{/each}}

{{#each this.pages as |pageNum|}}
  <LinkTo @route="index" @query={{hash page=pageNum}}> {{pageNum}} </LinkTo>
{{/each}}